th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):focus:after,
th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

.card-header.excel-green,
  .card-footer.excel-green {
    background-color: #198754; /* Light Excel-like green */
    border-color: #fff;
  }

  .nav-tabs .nav-link {
    color: #fff;
  }

  .nav-tabs .nav-link.active {
    background-color: #c5e0b4;
    color: #000;
  }

 .excel-table th {
	background-color: #c5e0b4; 
	color: #000;
	border-bottom: 2px solid #000;
	max-height: 10px;
  } 

  .excel-table thead{
	max-height: 10px;
  }

  .card-header.excel-green h5{
	color:#fff
  }

  input::placeholder {
  color: #198754;
  font-style: italic;
}

